<body>
  <div class="about-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag("portrait.png", :alt => "Evan Grossman", :class => "about-image") %>
        </div>
        <div class="col-sm-6">
          <p class="about-description">
            I’m a mobile developer from Los Angeles.  I live, work, and travel around the world looking for adventure, good food, and desks with nice views. 
          </p>
        </div>
      </div>
    </div>
  </div>  
</body>