<body>
  <div class="container about-container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= image_tag("portrait.png", :alt => "Evan Grossman", :class => "about-image") %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <p class="about-description">
          I’m a mobile developer from Los Angeles.  I live, work, and travel around the world looking for adventure, good food, and desks with nice views. 
        </p>
      </div>
    </div>
  </div>  
</body>