<% provide(:title, "Contact") %>
<body>
  <div class="contact-details">
    <h1>Please reach me here</h1>
    <p>Feel free to share ideas, comments, jokes, recipes, mantras, etc.</p>
    <br />
    <p>
      Email: <a href="mailto:evan@eagdev.com">evan@eagdev.com</a>
    </p>
  </div>    
</body>