<div id="gallery">
  <%= image_tag project.screenshots.first, :id => "featured-shot" %>

  <div id="thumbnails">
    <% @project.screenshots.each do |shot| %>
      <%= image_tag shot, :class => "thumbnail-shot" %>
    <% end %>
  </div>
</div>